<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @fund.name %>
</p>

<p>
  <strong>Subdomain:</strong>
  <%= @fund.subdomain %>
</p>

<p>
  <strong>Domain:</strong>
  <%= @fund.domain %>
</p>

<%= link_to 'Edit', edit_fund_path(@fund) %> |
<%= link_to 'Back', funds_path %>
